#add-product-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 32px;
}
#add-product-form p {
  margin-bottom: 16px;
  font-size: var(--font-size-l);
  font-weight: 500;
}
#add-product-form label {
  margin-bottom: 8px;
  font-size: var(--font-size-m);
  font-weight: 400;
}
#add-product-form input {
  margin-bottom: 12px;
  padding: 8px 12px;
  border: none;
  box-shadow: var(--box-shadow-s);
  border-radius: 4px;
}
#add-product-form input:focus {
  outline: 1px solid var(--primary);
}

.add-products-btn-cont {
  margin-top: auto;
}

#add-products-btn,
#cancel-products-btn {
  padding: 8px 12px;
  cursor: pointer;
  border: none;
  box-shadow: var(--box-shadow-m);
  font-size: var(--font-size-m);
  border-radius: 4px;
  font-weight: 500;
}
#add-products-btn {
  background-color: var(--primary);
  color: var(--secondary);
  margin-right: 12px;
}
