<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <title>My Supermarket</title>
</head>

<body>
  <p id="msg"></p>
  <div id="root">
    <side id="sidebar">
      <div class="app-logo">
        <img src="" alt="logo" />
        <p>
        <p></p>My Cashier</p>
      </div>
      <ul>
        <nav>
          <span class="material-symbols-outlined">
            add_circle
          </span>
          <p>Create Order</p>
        </nav>
        <nav>
          <span class="material-symbols-outlined">
            inventory_2
          </span>
          <p>Products</p>
        </nav>
        <nav>
          <span class="material-symbols-outlined">
            real_estate_agent
          </span>
          <p>Sales</p>
        </nav>
      </ul>
      <div class="profile-setting">
        <nav>
          <span class="material-symbols-outlined">
            settings
          </span>
          <p>Profile Setting</p>
        </nav>
      </div>
    </side>
    <div id="main">main</div>
    <side id="right-section"></side>
  </div>
  </div>
</body>
<script src="/eel.js"></script>
<script src="index.js"></script>

</html>